:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --bp-largest: 75em;
  /* // breakpoint 1200 px or 1200/16 = 75em */
  --bp-large: 68.75em; /* //1100 px*/

  --bp-medium: 56.25em; /* //900 px*/

  --bp-small: 37.5em; /* //600 px*/

  --bp-small: 31.25em; /* //500 px*/
}

body {
  background-color: white;
}
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  box-sizing: inherit;
  font-family: nunito, helvetica, Arial, sans-serif;
  font-weight: 500;
}

#root {
  display: grid;
  height: 100%;
  grid-template-columns: minmax(10rem, 20rem) 1fr minmax(10rem, 20rem);
}
@media only screen and (max-width: 1800px) {
  #root {
    grid-template-columns: 0rem 1fr 0rem;
  }
}
@media only screen and (max-width: 1200px) {
  #root {
    grid-template-columns: 0rem 1fr 0rem;
  }
}
@media only screen and (max-width: 900px) {
  #root {
    grid-template-columns: 0rem 1fr 0rem;
  }
}

@media only screen and (max-width: 600px) {
  #root {
    grid-template-columns: 0rem 1fr 0rem;
  }
}
.main-heading {
  font-size: 40px;
}
.secondary-heading {
  font-size: 20px;
}
.photo {
  widows: 300px;
  height: 300px;
}
.paragraph {
  font-size: 14px;
  color: black;
}
/* Logo  */

.logo_link {
  text-decoration: none;
  color: inherit;
  text-align: center;
}
.logo_h1 {
  margin-left: -10rem;
  font-size: 2.5rem;
}
.logo_h1_singup {
  margin-right: 1rem;
}
.logo_friendly_span {
  color: #1f53c8;
}
/* Main App */
.App {
  background-color: #ffd662ff;
  grid-column: 2/3;
  display: grid;
  grid-template-rows: 10rem repeat(3, 80rem) 50rem 14rem;
}

/* Navigation bar */
.NavBar {
  width: 100%;
  background-color: #ffd662ff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav_button {
  font-size: 2rem;
  padding: 0.5rem 1.4rem 0.5rem 1.4rem;
  background-color: transparent;
  border: none;
  color: black;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.5s;
}
.nav_button:hover {
  transform: translateY(-1px);
  background-color: rgb(255, 255, 255);
}

.middle_navbar_div {
  display: flex;
  justify-content: space-around;
  font-size: 1.4rem;
  margin-right: 7rem;
  width: 45rem;
}
.navbar_sign-in {
  font-size: 1.4rem;
  justify-self: flex-end;
}

.signUp_link {
  text-decoration: none;
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  color: inherit;
  font-size: 2rem;
  transform: all 0.2s;
  display: inline-block;
  font-weight: 500;
}
.signOut_button {
  text-decoration: none;
  border: none;
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  color: inherit;
  font-size: 2rem;
  transform: all 0.2s;
  display: inline-block;
  font-weight: 500;
  cursor: pointer;
}
.signOut_button:hover {
  transform: translateY(-2px);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.356);
}
.signOut_button:active {
  transform: translateY(1px);
  box-shadow: 0px 0px 1px rgba(255, 255, 255, 0);
}
.signUp_link:hover {
  transform: translateY(-2px);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.356);
}
.signUp_link:active {
  transform: translateY(1px);
  box-shadow: 0px 0px 1px rgba(255, 255, 255, 0);
}
@media only screen and (max-width: 1200px) {
  .logo_link {
    margin-left: 1rem;
  }
  .nav_button {
    font-size: 4rem;
    padding: 0.5rem 1.4rem 0.5rem 1.4rem;
    background-color: transparent;
    border: none;
    color: black;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.5s;
  }
  .navbar_sign-in {
    font-size: 3rem;
    justify-self: flex-end;
  }
  .logo_h1 {
    margin-left: 1rem;
  }

  .signUp_link {
    color: inherit;
    font-size: 3rem;
    transform: all 0.2s;
    display: inline-block;
    font-weight: 500;
  }
}
@media only screen and (max-width: 1800px) {
  .logo_h1 {
    margin-left: 1rem;
  }
}
/*About section*/
.AboutSection {
  grid-row: 2/3;
  background-color: white;
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.mainText_aboutSection {
  min-width: 80%;
  min-height: 80%;
  display: grid;
  grid-template-columns: 5rem 1fr 5rem;
  place-items: center;
  grid-template-rows: 2rem 1fr 1fr 2rem;
}
.logoImage_div {
  grid-row: 2/3;
  grid-column: 2/3;
  place-self: center;
  margin-left: 5rem;
}
.logoImage {
  width: 90%;
}

.h1_marketingSection {
  font-size: 4rem;
  font-weight: 400;
}

.marketingSection {
  grid-row: 3/4;
  grid-column: 2/3;
  width: 60%;
  text-align: center;
  margin-top: -22rem;
}
.marketingSection_span {
  font-weight: 700;
  color: #1f52c4;
}
@media only screen and (max-width: 1200px) {
  .h1_marketingSection {
    font-size: 5rem;
    font-weight: 400;
  }
  .marketingSection {
    margin-top: -10rem;
  }
}
@media only screen and (max-width: 1800px) {
  .logo_h1 {
    margin-left: -8rem;
  }
}
/*Example */
.Example {
  grid-row: 3/4;
  display: grid;
  grid-template-rows: 20rem 1fr 20rem;
  grid-template-columns: 5rem 1fr 1fr 5rem;
  gap: 10px 10px;
}
@media only screen and (max-width: 1800px) {
  .App {
    grid-template-rows: 10rem 80rem 100rem 80rem 50rem 14rem;
  }
  .Example {
    grid-row: 3/4;
    display: grid;
    grid-template-rows: 10rem 40rem 40rem;
    grid-template-columns: 10rem 1fr 10rem;
    gap: 20px;
  }
}
.example_h1 {
  grid-column: 2/4;
  grid-row: 1/2;
  justify-self: flex-start;
  align-self: center;
  margin-left: 3rem;
  font-size: 5rem;
  font-weight: 300;
}
.example_h2 {
  align-self: center;
  justify-self: center;
  font-size: 3rem;
  margin-top: 1rem;
  font-weight: 400;
}
.example_h3 {
  align-self: center;
  justify-self: center;
  font-size: 2rem;
  margin-top: 2rem;
  font-weight: 400;
}
.example_add {
  align-self: center;
  justify-self: center;
  font-size: 2rem;
  margin-top: 2rem;
  font-weight: 400;
}
.example_add_button {
  display: block;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: #ffd662ff;
  margin-bottom: 1rem;
  border: none;
  outline: none;
  font-size: 6rem;
  color: #1f52c4;
}

.example_from_to {
  align-self: center;
  justify-self: center;
  border: 1px solid #ffd662ff;
  border-radius: 20px;
  background-color: #ffd662ff;
  width: 80%;
  height: 15rem;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.example_span {
  font-weight: 700;
  color: #1f52c4;
}
.example_from {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}
.example_date {
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
}
.example_label {
  font-size: 2rem;
  font-weight: 300;
}
.example_to {
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
}
.example_input {
  padding: 1rem;
  width: 12rem;
  border-radius: 10px;
  background-color: white;
}
.example_label_results {
  font-size: 1.4rem;
  font-weight: 200;
}
.example_input_results {
  padding: 1rem;
  width: 11rem;
  border-radius: 10px;
  background-color: white;
}
.example_dot {
  align-self: center;
  justify-self: center;
  font-size: 2rem;
  margin: -0.5rem;
}

.example_results {
  align-self: center;
  justify-self: center;
  border: 1px solid #ffd662ff;
  border-radius: 20px;
  background-color: #ffd662ff;
  width: 91%;
  height: 7rem;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.example_cube {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.example_first_cube {
  grid-row: 2/3;
  grid-column: 2/3;
}
.example_second_cube {
  grid-row: 2/3;
  grid-column: 3/4;
}
@media only screen and (max-width: 1800px) {
  .example_add {
    margin-top: 1rem;
  }
  .example_first_cube {
    grid-row: 2/3;
    grid-column: 2/3;
    height: 100%;
    width: 60%;
    justify-self: center;
    align-self: center;
  }
  .example_second_cube {
    grid-row: 3/4;
    grid-column: 2/3;
    height: 100%;
    width: 60%;
    justify-self: center;
    align-self: center;
  }
  .example_add_button {
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #ffd662ff;
    margin-bottom: 1rem;
    border: none;
    outline: none;
    font-size: 3rem;
    color: #1f52c4;
  }
  .example_from_to {
    align-self: center;
    justify-self: center;
    border: 1px solid #ffd662ff;
    border-radius: 20px;
    background-color: #ffd662ff;
    width: 60%;
    margin-top: 3rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (max-width: 1400px) {
  .example_add {
    margin-top: 1rem;
  }
  .example_first_cube {
    grid-row: 2/3;
    grid-column: 2/3;
    height: 100%;
    width: 100%;
    justify-self: center;
    align-self: center;
  }
  .example_second_cube {
    grid-row: 3/4;
    grid-column: 2/3;
    height: 100%;
    width: 100%;
    justify-self: center;
    align-self: center;
  }
  .example_add_button {
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #ffd662ff;
    margin-bottom: 1rem;
    border: none;
    outline: none;
    font-size: 3rem;
    color: #1f52c4;
  }
  .example_from_to {
    align-self: center;
    justify-self: center;
    border: 1px solid #ffd662ff;
    border-radius: 20px;
    background-color: #ffd662ff;
    width: 60%;
    margin-top: 3rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
/*Pricing */
.Pricing {
  grid-row: 4/5;
  display: grid;
  grid-template-rows: 10rem 5rem 1fr 5rem 10rem;
  grid-template-columns: 20rem 1fr 1fr 1fr 20rem;
  gap: 10px 50px;
}
.pricing_title {
  grid-column: 3/4;
  font-size: 6rem;
  text-align: center;
  font-weight: 200;
}
.pricing_normal {
  grid-column: 2/3;
  grid-row: 3/5;
}
.pricing_popular {
  grid-column: 3/4;
  grid-row: 2/4;
}
.pricing_pro {
  grid-column: 4/5;
  grid-row: 3/5;
}
.pricing_div {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
}
.pricing_package {
  margin-left: 1rem;

  font-size: 4rem;
  color: black;
  font-weight: 100;
  width: 100%;
  text-align: center;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pricing_price_div {
  font-size: 12rem;
  font-weight: 100;
  background-color: #e7edf2;
  width: 100%;
  height: 35%;
  color: #1f52c4;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.pricing_currency {
  font-size: 4rem;
  color: #1f52c4;
  margin-right: 2rem;
}
.pricing_currencyFree {
  font-size: 10rem;
}
.pricing_perMonth {
  font-size: 2rem;
  font-weight: 400;
  margin-left: 2rem;
}
.pricing_features {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40%;
  margin-top: 4rem;
}
.pricing_button {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8%;
  background-color: #e7edf2;
  border: none;
  margin-bottom: 1rem;
  border-radius: 1rem;
  color: #1f52c4;
  font-size: 2rem;
  padding: 4rem 4rem 4rem 4rem;
  cursor: pointer;
}
.pricing_features_list {
  height: 100%;
  text-decoration: none;
  list-style-type: none;
}
.pricing_features_item {
  text-decoration: none;
  text-align: center;
  font-size: 2rem;
  border-bottom: 1px solid #e7edf2;
  font-weight: 100;
  margin-top: 1rem;
}
@media only screen and (max-width: 1200px) {
  .Pricing {
    display: grid;
    grid-template-rows: 10rem 5rem 1fr 5rem 10rem;
    grid-template-columns: 5rem repeat(3, 40rem) 5rem;
    gap: 10px 20px;
  }
}
@media only screen and (max-width: 900px) {
  .Pricing {
    display: grid;
    grid-template-rows: 10rem 5rem 1fr 5rem 10rem;
    grid-template-columns: 5rem repeat(3, 25rem) 5rem;
    gap: 10px 20px;
  }
}
/*Contact */
.Contact {
  grid-row: 5/6;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.contact_form {
  display: flex;
  width: 50%;
  height: 45rem;
  border-radius: 10px;
  flex-direction: column;
  padding: 1rem;
  background-color: #ffd662ff;
}
.contact_input {
  font-size: 2rem;
  padding: 0.5rem;
  outline: none;
  border: none;
  border-radius: 5px;
  margin-top: 0.5rem;
}
.contact_h1 {
  font-size: 3rem;
  align-self: center;
  font-weight: 400;
}
.contact_textArea {
  height: 200px;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  margin-top: 0.5rem;
  font-size: 1.8rem;
}
.contact_textArea:focus {
  border: none;
  outline: none;
}
.contact_submit {
  width: 20%;
  align-self: center;
  margin-top: 2rem;
  font-size: 2rem;
  background-color: aliceblue;
  cursor: pointer;
  border: none;
  padding: 1rem 0.5rem 1rem 0.5rem;
  transition: all 0.2s;
  border-radius: 10px;
}
.contact_submit:hover {
  transform: translateY(-2px);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.356);
}
.contact_submit:active {
  transform: translateY(1px);
  box-shadow: 0px 0px 1px rgba(255, 255, 255, 0);
}
.contact_label {
  font-size: 1.8rem;
  font-weight: 200;
  margin-left: 1rem;
  margin-top: 1rem;
}
@media only screen and (max-width: 120000px) {
  .contact_form {
    display: flex;
    width: 80%;
    height: 45rem;
    border-radius: 10px;
    flex-direction: column;
    padding: 1rem;
    background-color: #ffd662ff;
  }
}
/*Footer*/
.Footer {
  grid-row: 6/7;
  display: flex;
  background-color: #ffd662ff;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footer_socialMedia {
  display: flex;
  justify-content: space-around;
  width: 15rem;
  justify-self: center;
}
.footer_info {
  display: flex;
  width: 15rem;
  justify-content: center;
  margin-top: 1rem;
}
.footer_support {
  display: flex;
  width: 15rem;
  justify-content: space-around;
  margin-top: 2rem;
  font-weight: 100;
}
.footer_link {
  text-decoration: none;
  color: black;
}
.footer_companyAt {
  font-weight: 100;
  display: flex;
  width: 15rem;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
/* Sign upp */
.SignUp {
  grid-column: 2/3;
  display: grid;
  height: 120vh;
  grid-template-rows: 10rem 1fr 14rem;
}

.FooterSignUp {
  grid-row: 3/4;
  background-color: #ffd662ff;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.sign_up-form_div {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.sign_up-form {
  background-color: #ffd662ff !important;
  height: 55rem;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
}
.user_already_exists_error {
  font-size: 2rem;
  color: red;
  background-color: white;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 5px;
}
.password_too_short_error {
  font-size: 1.2rem;
  color: red;
  background-color: white;
  padding: 0.5rem;
  border-radius: 5px;
  margin-top: 0.2rem;
}
.unactive_error {
  display: none;
}
.inputs_div {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.label_input {
  font-size: 2.4rem;
  font-weight: 100;
}

.h1_signup {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 400;
}
.input_div {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}
.input {
  font-size: 2rem;
  border-radius: 12px;
  padding: 1rem;
  margin-top: 5px;
}
.input:focus {
  outline: none;
}

.singup_button {
  padding: 1rem 1.4rem 1rem 1.4rem;
  font-size: 2rem;
  cursor: pointer;
  border: 5px solid rgba(255, 255, 255, 0.726);
  background-color: #ffd662ff;
  border-radius: 10px;
  margin-top: 1rem;
  transition: 0.4s all;
}
.singup_button:hover {
  border: 5px solid rgba(216, 216, 216, 0.596);
  background-color: rgba(255, 255, 255, 0.726);
}
.singup_button_dashboard {
  background-color: white !important;
}
.singup_button_dashboard:hover {
  border: 5px solid #ecf0ff;
  background-color: rgba(155, 154, 212, 0.726);
}

.login_paragraph {
  margin-top: 1rem;
  font-size: 1rem;
}

.login_button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-bottom: 1px solid black;
}
.login_button_changed {
  margin-top: 5rem;
}
@media only screen and (max-width: 1400px) {
  .sign_up-form {
    background-color: #ffd662ff !important;
    height: 60rem;
    width: 70%;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
  }
  .SignUp {
    grid-column: 2/3;
    display: grid;
    height: 140vh;
    grid-template-rows: 10rem 1fr 14rem;
  }
}
@media only screen and (max-width: 1200px) {
  .sign_up-form {
    background-color: #ffd662ff !important;
    height: 55rem;
    width: 70%;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
  }
  .SignUp {
    grid-column: 2/3;
    display: grid;
    height: 145vh;
    grid-template-rows: 10rem 1fr 14rem;
  }
  .label_input {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 600px) {
  .sign_up-form {
    background-color: #ffd662ff !important;
    height: 80rem;
    width: 70%;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
  }
  .SignUp {
    grid-column: 2/3;
    display: grid;
    height: 235vh;
    grid-template-rows: 10rem 1fr 14rem;
  }
  .h1_signup {
    font-size: 5rem;
  }
  .label_input {
    font-size: 4rem;
  }
  .navbar_sign-in {
    margin-left: 1rem;
  }
}
.signUpSuccess {
  top: 0.5rem;
  position: absolute;
  background-color: #1f52c4;
  width: 55rem;
  height: 7rem;
  display: flex;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 3rem;
}

.loginSuccess {
  top: 0.5rem;
  position: absolute;
  background-color: #1f52c4;
  width: 55rem;
  height: 7rem;
  padding: 1rem;
  display: flex;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  font-size: 2rem;
}

/*User logged in ! dashboard*/
.dashboard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: 30rem 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  background: white;
  transition: 1s all;
}

.dashboard_hide {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 100vw;
  transition: 2s all;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  display: grid;
  grid-template-columns: 10rem 1fr;
  background: #ecf0ff;
}

.slider {
  background-color: #ffe8a8;
  display: flex;
  transition: 1s all;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 32rem;
  position: fixed;
}
.slider_thin {
  background-color: #ffd662ff;
  display: flex;
  transition: 1s all;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 10rem;
  position: fixed;
}
.slider_logo img {
  width: 10rem;
  height: 10rem;
  margin-top: 7rem;
}
.myFlights_fromToDateFromTo_paragraph {
  font-size: 1.2rem;
  margin-top: 1rem;
}
.dashboard_slider_header {
  height: 10%;
  justify-self: flex-start;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dashboard_mainInfo {
  grid-column: 2/3;
  grid-row: 1/5;
  background-color: #f7f7f7;
  align-items: center;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 2rem;
}
.slider_mainComponents {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60%;
  width: 100%;
}

.slider_component_h1 {
  font-size: 2rem;
  font-weight: 500;
  z-index: 10;
}
.slider_component {
  width: 100%;
  display: flex;
  align-items: center;

  justify-content: flex-start;
  height: 10rem;
  position: relative;
  z-index: 10;
}

.logout_component {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10rem;
  position: relative;
  z-index: 10;
}

.slider_component:hover {
  color: rgb(0, 0, 0);
  z-index: 10;
}
.slider_component:before {
  content: '';
  display: block;
  background-color: rgb(255, 230, 132);
  position: absolute;
  width: 0px;
  top: 0;
  z-index: 9;
  left: 0;
  height: 100%;
  transition: 0.4s;
}
.slider_component:hover::before {
  width: 100%;
  color: white;
}
.slider_settings {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-content: center;
  justify-content: flex-end;
}
.slider_component_settings {
  height: 7rem;
  cursor: pointer;
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.slider_component_username {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10rem;
  position: relative;
  z-index: 10;
}
/* Burger navigation */
.slider_hamburger {
  margin-left: 15rem;
}
.container {
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
  cursor: pointer;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.container {
  display: inline-block;
  cursor: pointer;
}

.bar4,
.bar5,
.bar6 {
  width: 20px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;
  transition: 0.4s;
  cursor: pointer;
}

.change .bar4 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar5 {
  opacity: 0;
}

.change .bar6 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

@media only screen and (max-width: 1600px) {
  .slider_hamburger {
    display: none;
  }
  .dashboard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90vh;
    width: 90vw;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10rem 1fr 1fr 1fr;
    background: white;
    transition: 1s all;
  }
  .slider {
    grid-row: 1/2;
    height: 10rem;
    width: 100%;
    background-color: #ffd662ff;
    display: flex;
    transition: 1s all;
    align-items: center;
    flex-direction: row;
  }
  .dashboard_mainInfo {
    grid-row: 2/5;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    margin-left: 2rem;
    grid-column: 1;
  }
  .slider_mainComponents {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 60%;
  }
  .slider_settings {
    display: flex;
    flex-direction: row;
    width: 30%;
    cursor: pointer;
    height: 100%;
    margin-left: auto;
    align-content: center;
    justify-content: center;
  }
  .slider_component_settings {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .slider_logo img {
    display: none;
  }
  .slider_component_h1 {
    font-size: 2rem;
    font-weight: 400;
    z-index: 10;
  }
  .slider_component_username {
    width: 70%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10rem;
    position: relative;
    z-index: 10;
    margin-left: 2rem;
  }

  .rights_reserved {
    display: none;
  }
  .slider_component:before {
    content: '';
    display: block;
    background-color: rgb(255, 230, 132);
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 9;
    left: 0;
    height: 0;
    transition: 0.4s;
  }
  .slider_component:hover::before {
    height: 100%;
    color: white;
  }
}

/* dashboard my flights */
.dashboard_myFlights {
  width: 61rem;
  margin: 7px;
  border-radius: 15px;
  height: 25rem;
  display: flex;
  justify-content: center;
  background-color: white;
}

.myFlights_flight_box {
  grid-row: 2/3;
  grid-column: 2/3;
  background-color: #fff;
  box-shadow: 0 1.5rem 4rem rgb(0 0 0 / 10%);
  border-radius: 10px;
  display: flex;
}
.myFlights_flightData_div {
  width: 30%;
  margin: 1rem;
}
.myFlights_flightResults_div {
  overflow-y: scroll;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 25rem;
  width: 40rem;
}

/* Hide scrollbar for IE, Edge and Firefox */
.myFlights_flightResults_div {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.input_date {
  border: 1px solid black;
  padding: 1rem;
  height: 6rem;
  border-radius: 10px;
}
.input_date:focus {
  outline: none;
}
.flightsData {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.flightsData_fromToDateCreatedAt {
  display: flex;
  height: 5rem;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
  border-radius: 10px;
  margin: 0.5rem;
}
.flightsData_formToDateCreatedAt_h1 {
  font-size: 1.5rem;
  font-weight: 100;
  margin-left: 0.4rem;
}
.flightsData_formToDateCreatedAt_h1_result {
  font-size: 1.5rem;
  font-weight: 200;
  margin-left: auto;
  width: 50%;
}
.flightsData_fromToDateCreatedAt_createdAt {
  margin-top: auto;
}
.flightsData_formToDateCreatedAt_h1_createdAt {
  font-size: 1.2rem;
  font-weight: 100;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.flightsData_formToDateCreatedAt_h1_result_date {
  font-size: 1.4rem;
  font-weight: 200;
  margin-left: auto;
  width: 80%;
  margin-right: 1rem;
  text-align: right;
}

.myFlights_results {
  width: 100%;
  margin-top: 2rem;
  margin-right: 1rem;
  height: 12rem;
  display: flex;
  box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: rgba(255, 213, 98, 0.103);
  border-radius: 5px;
}
.myFlights_fromToDateFromTo_h1 {
  font-size: 1.4rem;
  text-align: center;
  margin-top: 0.5rem;
}
.myFlights_fromToDateFromTo_h2 {
  font-size: 1.4rem;
  margin-top: 0.5rem;
  text-align: center;
  font-weight: 300;
}
.myFlights_fromToDateFromTo_h2_price {
  font-size: 1.4rem;
  margin-top: 0.5rem;
  text-align: center;
  font-weight: 300;
  color: red;
}

.myFlights_fromToDateFromTo_link {
  flex-basis: 100%;
  height: 20px;
  color: #000000;
  text-decoration: none;
  text-align: center;
}
.myFlights_fromToDateFromTo_link_div {
  color: #0770e3;
  font-size: 2.2rem;
  text-decoration: none;
  text-align: center;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  margin-left: 1rem;
  position: fixed;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 213, 98, 0.247);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffd662ff;
}

/* dashboard add a flight */
.dasboard_addAflight {
  width: 100%;
  margin-top: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.addAFlights_div {
  width: 70%;
  height: 70rem;
  border-radius: 15px;
  padding: 5rem;
  display: flex;
  box-shadow: 0 7px 30px -10px rgb(150 170 180 / 50%);
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.from_div {
  grid-row: 2/3;
  grid-column: 1/4;
}
.to_div {
  grid-row: 4/5;
  grid-column: 1/4;
}
.dateFrom_div {
  grid-row: 4/5;
  grid-column: 5/9;
}
.dateTo_div {
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-column: 5/9;
}
.input_addAflight {
  width: 100%;
  height: 7rem;
  outline: none;
  border: 1px solid black;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 7px 30px -10px rgb(150 170 180 / 50%);
}
.addAFlight_h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 200;
  margin-top: 1rem;
}
.alingText_h1 {
  text-align: center;
}
.dateFrom_div {
  margin-top: 1rem;
}
.dateTo_div {
  margin-top: 1rem;
}
.addAFlight_addButton {
  grid-row: 7/9;
  grid-column: 3/5;
  background-color: rgba(255, 213, 98, 0.397);
  border: none;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 7px 30px -10px rgb(150 170 180 / 50%);
  font-size: 2.5rem;
  height: 10rem;
  transition: all 0.5s;
}
.addAFlight_addButton:hover {
  transform: translateY(-2px);
}
.addAFlight_h1_error {
  grid-row: 11/12;
  grid-column: 2/6;
  text-align: center;
  margin-top: 1rem;
  color: red;
}
.addAFlight_Country_div {
  grid-row: 3/4;
  grid-column: 1/4;
  width: 50%;
  background-color: white;
  border-radius: 7px;
  margin-top: 1rem;
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  transition: 0.2s all;
  cursor: pointer;
}
.addAFlight_Country_div_to {
  grid-row: 5/6;
  grid-column: 1/4;
  width: 50%;
}
.addAFlight_Airport_div_to {
  grid-row: 5/6 !important;
  grid-column: 1/4;
  width: 50%;
}
.addAFlight_Airport_div {
  grid-row: 3/4;
  width: 50%;
  grid-column: 1/4;
  background-color: white;
  border-radius: 7px;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  margin-left: auto;
  cursor: pointer;
  transition: 0.2s all;
}
.active_selected {
  background-color: rgba(255, 213, 98, 0.397);
  margin-top: 0rem;
}

.addAFlight_upgradeLink {
  background-color: rgba(255, 213, 98, 0.397);
  border: none;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 7px 30px -10px rgb(150 170 180 / 50%);
  font-size: 1.4rem;
  padding: 1rem;
  transition: all 0.5s;
}

.addAFlight_upgradeLink:activce {
  text-decoration: none;
  color: #000000;
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgba(255, 213, 98, 0.397);
}
@media only screen and (max-width: 1600px) {
  .addAFlights_div {
    width: 70%;
    height: 70rem;
    border-radius: 15px;
    padding: 2rem;
    display: flex;
    box-shadow: 0 7px 30px -10px rgb(150 170 180 / 50%);
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .from_div {
    grid-row: 2/3;
  }
  .to_div {
    grid-row: 4/5;
    grid-column: 1/4;
  }
  .dateFrom_div {
    grid-row: 4/5;
    grid-column: 5/9;
    display: flex;
  }
  .dateTo_div {
    grid-row: 2/3;
    grid-column: 5/9;
  }
}

.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ffd662ff;
  background: -moz-linear-gradient(
    left,
    #ffd662ff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: -webkit-linear-gradient(
    left,
    #ffd662ff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: -o-linear-gradient(
    left,
    #ffd662ff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: -ms-linear-gradient(
    left,
    #ffd662ff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: linear-gradient(
    to right,
    #ffd662ff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #ffd662ff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #f7f7f7;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.suggestions {
  display: flex;
  width: 60vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70vh;
  box-shadow: 0 1.5rem 4rem rgb(0 0 0 / 10%);
  background-color: rgb(255, 255, 255);
}
.suggestions_title {
  margin-bottom: auto;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.suggestion_title_h1 {
  font-size: 4rem;
  font-weight: 100;
}
.suggestion_mainInfo {
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.suggets_main_h1 {
  margin-bottom: auto;
  font-size: 3rem;
  font-weight: 100;
}

.suggest_main {
  width: 80%;
  height: 41rem;
  display: flex;
  margin-bottom: 4rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
}
.suggest_main_p {
  font-size: 2rem;
  width: 80%;
  text-align: center;
  margin-bottom: 6rem;
}
.suggest_main_p span {
  font-size: 2.4rem;
}

.svg_dashboard {
  width: 20px;
  height: 20px;
  fill: #ffffff;
  z-index: 200;
  margin-right: 2rem;
  margin-left: 8rem;
}

@media only screen and (max-width: 1600px) {
  .svg_dashboard {
    margin-left: 3rem;
  }
}

.button_thisyear {
  width: 40%;
  background-color: rgba(255, 213, 98, 0.397);
  border: none;
  padding: 1rem;
  border-radius: 5px;
  margin-left: 2rem;
  cursor: pointer;
  transition: all 0.4s;
}
.button_thisyear:hover {
  transform: translateY(-2px);
}

.button_delete {
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: 5px;
  border: none;
  background-color: #ffd662ff;
  cursor: pointer;
  box-shadow: 0 5px 30px -15px rgb(0, 0, 0);
  transition: 0.4s all;
}
.button_delete:hover {
  box-shadow: 0 6px 30px -10px rgb(0, 0, 0);
  transform: translateY(-2px);
}
.button_delete:active {
  box-shadow: 0 0px 30px -20px rgb(0, 0, 0);

  transform: translateY(2px);
}

/*Settings */
.settings {
  width: 50%;
  height: 70%;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2.5rem 8rem 2rem rgb(0 0 0 / 7%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.settings_account {
  width: 90%;
  height: 90%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.settings_userDetails {
  margin-top: 2rem;
  width: 90%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.settings_userDetails_h1 {
  font-size: 3.2rem;
  margin-right: auto;
  font-weight: 400;
}
.settings_userDetails_h1_div {
  margin-right: 16rem;
  margin-bottom: 3rem;
}
.settings_userEmail {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  align-items: flex-start;
  justify-content: flex-start;
}

.settings_userName {
  margin-top: 2rem;
  width: 70%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.settings_input {
  width: 100%;
  height: 4rem;
  padding: 1rem;
  margin-top: 0.5rem;
  background-color: #f2f2f2;
  border: none;
}
.settings_input:focus {
  outline: none;
}
.settings_userDetails_h2 {
  font-size: 1.6rem;
  font-weight: 700;
}

.settings_button_div {
  margin-top: 5rem;
}
.settings_button {
  background-color: #ffd662ff;
  padding: 1.4rem;
  font-size: 2rem;
  font-weight: 100;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: all 0.4s;
}
.settings_button:hover {
  transform: translateY(-5px);
  box-shadow: 0 1rem 2rem rgb(0 0 0 / 15%);
}

.settings_button:active {
  box-shadow: 0 0rem 0rem rgb(0 0 0 / 15%);
  transform: translateY(5px);
}
@media only screen and (max-width: 1600px) {
  .settings {
    width: 50%;
    height: 80%;
  }
}

.addAFlight_toMonth {
  grid-row: 3/4;
  grid-column: 5/7;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.addAFlight_h1_twomonth {
  font-size: 2rem;
  margin-top: 0.7rem;
  font-weight: 100;
}

.contact_dashboard {
  width: 70%;
  height: 70rem;
  border-radius: 15px;
  padding: 5rem;
  display: flex;
  box-shadow: 0 7px 30px -10px rgb(150 170 180 / 50%);
  background-color: white;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.help_paragraph {
  font-size: 2rem;
  width: 100%;
  text-align: center;
}
.contact_dashboard_help_div {
  margin-top: 5rem;
}
.contact_dashboard_help_h1 {
  font-size: 5rem;
  font-weight: 100;
}
.contact_form_helpSection {
  width: 40vw;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 7px 30px -10px rgb(150 170 180 / 50%);
  background-color: #fffbef;
  margin-top: 2rem;
}
.contact_input_helpSection {
  width: 80%;
}
.contact_textarea_helpSection {
  margin-top: 1rem;
}
.contact_submit_helpSection {
  margin-bottom: 1rem;
}
.contact_label_helpSection {
  align-self: flex-start;
  margin-left: 8rem;
}

.upgradeTime {
  display: flex;
  width: 60vw;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  height: 70vh;
  box-shadow: 0 1.5rem 4rem rgb(0 0 0 / 10%);
  background-color: rgb(255, 255, 255);
}
.pricing_divUpgrade {
  background-color: white;
  height: 60rem;
  display: flex;
  width: 30rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
}
