body {
  background-color: white;
  background-color: white;
}
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  box-sizing: inherit;
  font-family: nunito, helvetica, Arial, sans-serif;
  font-weight: 600;
}

#root {
  display: grid;
  height: 100%;
  grid-template-columns: minmax(10rem, 20rem) minmax(70rem, 1fr) minmax(
      10rem,
      20rem
    );
  background-color: white;
}

.main-heading {
  font-size: 40px;
}
.secondary-heading {
  font-size: 20px;
}
.photo {
  widows: 300px;
  height: 300px;
}
.paragraph {
  font-size: 14px;
  color: black;
}
/* Logo  */

.logo_link {
  text-decoration: none;
  color: inherit;
}
.logo_h1 {
  margin-left: -10rem;
  font-size: 2.5rem;
}
.logo_h1_singup {
  margin-right: 1rem;
}
.logo_friendly_span {
  color: #1f53c8;
}
/* Main App */
.App {
  background-color: #ffd662ff;
  grid-column: 2/3;
  display: grid;
  grid-template-rows: 10rem repeat(3, 80rem) 50rem 14rem;
}

/* Navigation bar */
.NavBar {
  width: 100%;
  background-color: #ffd662ff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav_button {
  font-size: 2rem;
  padding: 0.5rem 1.4rem 0.5rem 1.4rem;
  background-color: transparent;
  border: none;
  color: black;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.5s;
}
.nav_button:hover {
  transform: translateY(-1px);
  background-color: rgb(255, 255, 255);
}

.middle_navbar_div {
  display: flex;
  justify-content: space-around;
  font-size: 1.4rem;
  margin-right: 7rem;
  width: 45rem;
}
.navbar_sign-in {
  font-size: 1.4rem;
  justify-self: flex-end;
}

.signUp_link {
  text-decoration: none;
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  color: inherit;
  font-size: 2rem;
  transform: all 0.2s;
  display: inline-block;
  font-weight: 500;
}
.signUp_link:hover {
  transform: translateY(-2px);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.356);
}
.signUp_link:active {
  transform: translateY(1px);
  box-shadow: 0px 0px 1px rgba(255, 255, 255, 0);
}
/*About section*/
.AboutSection {
  grid-row: 2/3;
  background-color: white;
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.mainText_aboutSection {
  min-width: 80%;
  min-height: 80%;
  display: grid;
  grid-template-columns: 5rem 1fr 5rem;
  place-items: center;
  grid-template-rows: 2rem 1fr 1fr 2rem;
}
.logoImage_div {
  grid-row: 2/3;
  grid-column: 2/3;
  place-self: center;
  margin-left: 5rem;
}
.logoImage {
  width: 90%;
}

.h1_marketingSection {
  font-size: 4rem;
  font-weight: 400;
}

.marketingSection {
  grid-row: 3/4;
  grid-column: 2/3;
  width: 60%;
  text-align: center;
  margin-top: -22rem;
}
.marketingSection_span {
  font-weight: 700;
  color: #1f52c4;
}

/*Example */
.Example {
  grid-row: 3/4;
  display: grid;
  grid-template-rows: 20rem 1fr 20rem;
  grid-template-columns: 2rem 1fr 1fr 1fr 2rem;
  gap: 10px 20px;
}
.example_h1 {
  grid-column: 2/4;
  grid-row: 1/2;
  justify-self: flex-start;
  align-self: center;
  margin-left: 3rem;
  font-size: 5rem;
  font-weight: 300;
}
.example_cube {
  background-color: white;
  border-radius: 10px;
}
.example_first_cube {
  grid-row: 2/3;
  grid-column: 2/3;
}
.example_second_cube {
  grid-row: 2/3;
  grid-column: 3/4;
}
.example_third_cube {
  grid-row: 2/3;
  grid-column: 4/5;
}
/*Pricing */
.Pricing {
  grid-row: 4/5;
}

/*Contact */
.Contact {
  grid-row: 5/6;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.contact_form {
  display: flex;
  width: 50%;
  height: 45rem;
  border-radius: 10px;
  flex-direction: column;
  padding: 1rem;
  background-color: #ffd662ff;
}
.contact_input {
  font-size: 2rem;
  padding: 0.5rem;
  outline: none;
  border: none;
  border-radius: 5px;
  margin-top: 0.5rem;
}
.contact_h1 {
  font-size: 3rem;
  align-self: center;
  font-weight: 400;
}
.contact_textArea {
  height: 200px;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  margin-top: 0.5rem;
  font-size: 1.8rem;
}
.contact_textArea:focus {
  border: none;
  outline: none;
}
.contact_submit {
  width: 20%;
  align-self: center;
  margin-top: 2rem;
  font-size: 2rem;
  background-color: aliceblue;
  cursor: pointer;
  border: none;
  padding: 1rem 0.5rem 1rem 0.5rem;
  transition: all 0.2s;
  border-radius: 10px;
}
.contact_submit:hover {
  transform: translateY(-2px);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.356);
}
.contact_submit:active {
  transform: translateY(1px);
  box-shadow: 0px 0px 1px rgba(255, 255, 255, 0);
}
.contact_label {
  font-size: 1.8rem;
  font-weight: 200;
  margin-left: 1rem;
  margin-top: 1rem;
}
/*Footer*/
.Footer {
  grid-row: 6/7;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footer_socialMedia {
  display: flex;
  justify-content: space-around;
  width: 15rem;
  justify-self: center;
}
.footer_info {
  display: flex;
  width: 15rem;
  justify-content: center;
  margin-top: 1rem;
}
.footer_support {
  display: flex;
  width: 15rem;
  justify-content: space-around;
  margin-top: 2rem;
  font-weight: 100;
}
.footer_link {
  text-decoration: none;
  color: black;
}
.footer_companyAt {
  font-weight: 100;
  display: flex;
  width: 15rem;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
/* Sign upp */
.SignUp {
  grid-column: 2/3;
  display: grid;
  height: 100vh;
  grid-template-rows: 10rem 1fr 14rem;
}
.FooterSignUp {
  grid-row: 3/4;
  background-color: #ffd662ff;

  height: 14rem;
}

.sign_up-form_div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sign_up-form {
  background-color: #ffd662ff !important;
  height: 50rem;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
}

.inputs_div {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.label_input {
  font-size: 1.6rem;
  font-weight: 100;
}

.h1_signup {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 400;
}
.input_div {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}
.input {
  font-size: 2rem;
  border-radius: 12px;
  padding: 1rem;
  margin-top: 5px;
}
.input:focus {
  outline: none;
}

.singup_button {
  padding: 1rem 1.4rem 1rem 1.4rem;
  font-size: 2rem;
  cursor: pointer;
  margin-top: 2rem;
  border: none;
  background-color: #ffd662ff;
  border-radius: 10px;
  border: 2px solid #ffd662ff;
  transition: 0.4s all;
}
.singup_button:hover {
  border: 2px solid rgba(216, 216, 216, 0.596);
  background-color: rgba(255, 255, 255, 0.726);
}
.login_paragraph {
  margin-top: 1rem;
  font-size: 1rem;
}

.login_button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-bottom: 1px solid black;
}
.login_button_changed {
  margin-top: 5rem;
}
