body {
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  background-color: #ffd662ff;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  box-sizing: inherit;
}

#root {
  display: grid;
  grid-template-columns: minmax(10rem, 30rem) minmax(60rem, 1fr) minmax(
      10rem,
      30rem
    );
  background-color: #ffd662ff;
}

.main-heading {
  font-size: 40px;
}
.secondary-heading {
  font-size: 20px;
}
.photo {
  widows: 300px;
  height: 300px;
}
.paragraph {
  font-size: 14px;
  color: black;
}

/* Main App */
.App {
  background-color: #ffd662ff;
  border: 2px solid black;
  grid-column: 2/3;
  display: grid;
  grid-template-rows: 10rem repeat(3,55rem) 40rem 14rem;
}

/* Navigation bar */
.NavBar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid rgb(151, 38, 38);
}
.middle_navbar_div {
  display: flex;
  justify-content: space-around;
  width: 28rem;
}

/*About section*/
.AboutSection{
  grid-row: 2/3;
  width: 100%;
  background-color: #ffd662ff;
  border: 1px solid black;
}

/*Example */
.Example{
border: 1px solid black;
grid-row: 3/4;
}

/*Pricing */
.Pricing{
  border: 1px solid black;
  grid-row: 4/5;
}

/*Contact */
.Contact{
  border: 1px solid black;
  grid-row: 5/6;
}

/*Footer*/
.Footer{
grid-row: 6/7;
border: 1px solid black;
}

